<div class="container">
  <div class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      <li routerLinkActive="is-active" class="nav-item"><a [routerLink]="['/burbank']" class="nav-link">Burbank CA</a></li>
      <li routerLinkActive="is-active" class="nav-item"><a [routerLink]="['/chicago']" class="nav-link">Chicago IL</a></li>
      <li routerLinkActive="is-active" class="nav-item"><a [routerLink]="['/dallas']" class="nav-link">Dallas TX</a></li>
      <li routerLinkActive="is-active" class="nav-item"><a [routerLink]="['/sanjose']" class="nav-link">San Jose CA</a></li>
      <li routerLinkActive="is-active" class="nav-item"><a [routerLink]="['/seattle']" class="nav-link">Seattle WA</a></li>
      <li routerLinkActive="is-active" class="nav-item"><a [routerLink]="['/dc']" class="nav-link">Washington D.C.</a></li>
    </ul>
  </div>
  <router-outlet></router-outlet>
</div>
